#div11{
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}
#div12{
    left: 84px;
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}
#div13{
    left: 168px;
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}
#div14{
    left: 252px;
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}
#div21{
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}
#div22{
    left: 84px;
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}
#div23{
    left: 168px;
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}
#div24{
    left: 252px;
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: gold;
}